a {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration-line: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    &:hover { color: rgb(255, 239, 137); }
  }
  
  .header-wrapper {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem 2rem;
    color: #282c34;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FECD93;
    .header-title{
      span{
        font-size: 2.7rem;
        font-family: 'Pacifico', cursive;
        font-size: xx-large;
      }
    }
    .header-menu{
      display: flex;
      flex-wrap: wrap;
      a {
        font-size: 1.3rem;
        font-family: 'Noto Sans KR', sans-serif;
        flex-shrink: 0;
        margin: 0 1rem;
      }
    }
  }