.display-enter {
  white-space: pre-line;
}

.mojiName{
  background-color: #FECD93;
  padding:100px;
  text-align: center;
}

.mojiSay{
  height:100%;
  width:100%;
  background: #FECD93;
  color:black;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
.mojiText{
  position: relative;
  top: 50px;
  right: 200px;
  white-space: pre-line;
  color: BLACK;
  text-align:left center;
  font-size: 50px;
}
.mojiInstruction{
  position: relative;
  top: -10px;
  left: 100px;
  white-space: pre-line;
  color: BLACK;

}
.container {
    width: 700px;
    height: 350px;
    border: 1px solid white;
    background-color: WHITE;
    border-radius: 30px;
    background-position: center;
  }
.img_item {
  width: 700px;
  height: 513px;
  background-image: url("./firstPage/back.1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #FECD93;
}
.Button{
  position: relative;
  top: -160px;
  left: 90px;
}